{% extends "base.html" %}

{% block content %}

    {% include "alert.html" %}

    <form id="the_form" method="post" action="" onsubmit="event.preventDefault(); new Payment().handle_payment_save()">
        <div class="form-group">
            <label for="payment_type" class="form-label">გადასახადის ტიპი</label>
            <select class="form-control" id="payment_type" name="payment_type" required>
                {% for type in payment_types %}
                    <option value="{{ type.label }}">{{ type.label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="amount" class="form-label">გადასახდელი რაოდენობა ₾</label>
            <input type="text" class="form-control" name="amount" id="amount" aria-describedby="amount" required>
        </div>
        <div class="form-group">
            <label for="pay_date" class="form-label">თარიღი</label>
            <input type="date" class="form-control" name="pay_date" id="pay_date" aria-describedby="pay_date" required>
        </div>

        <button type="submit" class="btn btn-primary">დასტური</button>
    </form>

    <script>
        $('#card-title').text('გადასახადის გადახდა')
        $('#collapsePages').addClass('show')

        $(document).ready(function(){
            let payment = new Payment();
            $("#the_form").validate();
            payment.appendTypesToSelect('payment_type')
        })
    </script>

{% endblock %}