{% extends "base.html" %}

{% block content %}

    {% include "alert.html" %}

    <form action="" id="the_form" method="post" onsubmit="event.preventDefault(); new Expense().handle_expense_save()">
        <div class="form-group">
            <label for="paid_total" class="form-label">გადახდილი თანხა</label>
            <input type="number" class="form-control" name="paid_total" id="paid_total" aria-describedby="paid_total" required>
        </div>
        <div class="form-group">
            <label for="pay_date" class="form-label">გადახდის თარიღი</label>
            <input type="date" class="form-control" name="pay_date" id="pay_date" aria-describedby="pay_date" required>
        </div>
        <div class="form-group">
            <label for="description">აღწერა</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">დასტური</button>
    </form>

    <script>
        $('#card-title').text('ხარჯის დამატება')
        $('#collapsePages').addClass('show')

        $(document).ready(function(){
            $("#the_form").validate();
        });
    </script>

{% endblock %}