<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Startmotors</title>

    <!-- Custom fonts for this template-->
    <link href="static/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom fonts for this template-->

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sb-admin-2.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <!-- Custom styles for this template-->

    <!-- Bootstrap core JavaScript-->
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap core JavaScript-->

    <!-- Core plugin JavaScript-->
    <script src="static/jquery-easing/jquery.easing.min.js"></script>
    <!-- Core plugin JavaScript-->

    <!-- Parsley -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>
    <!-- Parsley -->

    <!-- Datatables -->
    <link href="static/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="static/datatables/jquery.dataTables.min.js"></script>
    <script src="static/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Datatables -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

    <script src="{{ url_for('static', filename='js/display.js') }}"></script>
    <script src="{{ url_for('static', filename='js/product_list.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sell_product.js') }}"></script>
    <script src="{{ url_for('static', filename='js/car.js') }}"></script>
    <script src="{{ url_for('static', filename='js/salary.js') }}"></script>
    <script src="{{ url_for('static', filename='js/payment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/expense.js') }}"></script>
</head>


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Startmotors<sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>დამატება</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
{#                        <h6 class="collapse-header">Custom Components:</h6>#}
                        <a class="collapse-item" href="{{ url_for('add_product') }}">პროდუქტის დამატება</a>
                        <a class="collapse-item" href="{{ url_for('add_cars') }}">მანქანების დამატება</a>
                        <a class="collapse-item" href="{{ url_for('add_employee') }}">თანამშრომლის<br/>დამატება</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>პროდუქცია</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{{ url_for('list_product') }}">მარაგი</a>
                        <div class="collapse-divider"></div>
                        <a class="collapse-item" href="{{ url_for('order_history') }}">გაყიდვების ისტორია</a>
                        <a class="collapse-item" href="{{ url_for('restock_history') }}">შესყიდვების ისტორია</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
                    aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>გადასახადები</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">ხელფასები</h6>
                        <a class="collapse-item" href="{{ url_for('add_salary') }}">გადახდა</a>
                        <a class="collapse-item" href="{{ url_for('salaries') }}">ისტორია</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">კომუნალურები / ინტერნეტი</h6>
                        <a class="collapse-item" href="{{ url_for('add_payment') }}">გადახდა</a>
                        <a class="collapse-item" href="{{ url_for('get_payments') }}">ისტორია</a>
                        <h6 class="collapse-header">ხარჯი</h6>
                        <a class="collapse-item" href="{{ url_for('add_expense') }}">გადახდა</a>
                        <a class="collapse-item" href="{{ url_for('get_expenses') }}">ისტორია</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages2" aria-expanded="true"
                    aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>დღის სამუშაო</span>
                </a>
                <div id="collapsePages2" class="collapse" aria-labelledby="headingPages"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{{ url_for('add_completed_work') }}">დამატება</a>
                        <a class="collapse-item" href="{{ url_for('get_completed_work') }}">ისტორია</a>
                    </div>
                </div>
            </li>
{#            <!-- Nav Item - Charts -->#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="charts.html">#}
{#                    <i class="fas fa-fw fa-chart-area"></i>#}
{#                    <span>Charts</span></a>#}
{#            </li>#}
{##}
{#            <!-- Nav Item - Tables -->#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="tables.html">#}
{#                    <i class="fas fa-fw fa-table"></i>#}
{#                    <span>Tables</span></a>#}
{#            </li>#}

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
{#                    <form#}
{#                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">#}
{#                        <div class="input-group">#}
{#                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."#}
{#                                aria-label="Search" aria-describedby="basic-addon2">#}
{#                            <div class="input-group-append">#}
{#                                <button class="btn btn-primary" type="button">#}
{#                                    <i class="fas fa-search fa-sm"></i>#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
{#                        <li class="nav-item dropdown no-arrow mx-1">#}
{#                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"#}
{#                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                <i class="fas fa-bell fa-fw"></i>#}
{#                                <!-- Counter - Alerts -->#}
{#                                <span class="badge badge-danger badge-counter">3+</span>#}
{#                            </a>#}
{#                            <!-- Dropdown - Alerts -->#}
{#                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"#}
{#                                aria-labelledby="alertsDropdown">#}
{#                                <h6 class="dropdown-header">#}
{#                                    Alerts Center#}
{#                                </h6>#}
{#                                <a class="dropdown-item d-flex align-items-center" href="#">#}
{#                                    <div class="mr-3">#}
{#                                        <div class="icon-circle bg-primary">#}
{#                                            <i class="fas fa-file-alt text-white"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div>#}
{#                                        <div class="small text-gray-500">December 12, 2019</div>#}
{#                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>#}
{#                                    </div>#}
{#                                </a>#}
{#                                <a class="dropdown-item d-flex align-items-center" href="#">#}
{#                                    <div class="mr-3">#}
{#                                        <div class="icon-circle bg-success">#}
{#                                            <i class="fas fa-donate text-white"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div>#}
{#                                        <div class="small text-gray-500">December 7, 2019</div>#}
{#                                        $290.29 has been deposited into your account!#}
{#                                    </div>#}
{#                                </a>#}
{#                                <a class="dropdown-item d-flex align-items-center" href="#">#}
{#                                    <div class="mr-3">#}
{#                                        <div class="icon-circle bg-warning">#}
{#                                            <i class="fas fa-exclamation-triangle text-white"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div>#}
{#                                        <div class="small text-gray-500">December 2, 2019</div>#}
{#                                        Spending Alert: We've noticed unusually high spending for your account.#}
{#                                    </div>#}
{#                                </a>#}
{#                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>#}
{#                            </div>#}
{#                        </li>#}

                        <!-- Nav Item - Messages -->
{#                        <li class="nav-item dropdown no-arrow mx-1">#}
{#                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"#}
{#                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                <i class="fas fa-envelope fa-fw"></i>#}
{#                                <!-- Counter - Messages -->#}
{#                                <span class="badge badge-danger badge-counter">7</span>#}
{#                            </a>#}
{#                            <!-- Dropdown - Messages -->#}
{#                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"#}
{#                                aria-labelledby="messagesDropdown">#}
{#                                <h6 class="dropdown-header">#}
{#                                    Message Center#}
{#                                </h6>#}
{#                                <a class="dropdown-item d-flex align-items-center" href="#">#}
{#                                    <div class="dropdown-list-image mr-3">#}
{#                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"#}
{#                                            alt="...">#}
{#                                        <div class="status-indicator bg-success"></div>#}
{#                                    </div>#}
{#                                    <div class="font-weight-bold">#}
{#                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a#}
{#                                            problem I've been having.</div>#}
{#                                        <div class="small text-gray-500">Emily Fowler · 58m</div>#}
{#                                    </div>#}
{#                                </a>#}
{#                                <a class="dropdown-item d-flex align-items-center" href="#">#}
{#                                    <div class="dropdown-list-image mr-3">#}
{#                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"#}
{#                                            alt="...">#}
{#                                        <div class="status-indicator"></div>#}
{#                                    </div>#}
{#                                    <div>#}
{#                                        <div class="text-truncate">I have the photos that you ordered last month, how#}
{#                                            would you like them sent to you?</div>#}
{#                                        <div class="small text-gray-500">Jae Chun · 1d</div>#}
{#                                    </div>#}
{#                                </a>#}
{#                                <a class="dropdown-item d-flex align-items-center" href="#">#}
{#                                    <div class="dropdown-list-image mr-3">#}
{#                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"#}
{#                                            alt="...">#}
{#                                        <div class="status-indicator bg-warning"></div>#}
{#                                    </div>#}
{#                                    <div>#}
{#                                        <div class="text-truncate">Last month's report looks great, I am very happy with#}
{#                                            the progress so far, keep up the good work!</div>#}
{#                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>#}
{#                                    </div>#}
{#                                </a>#}
{#                                <a class="dropdown-item d-flex align-items-center" href="#">#}
{#                                    <div class="dropdown-list-image mr-3">#}
{#                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"#}
{#                                            alt="...">#}
{#                                        <div class="status-indicator bg-success"></div>#}
{#                                    </div>#}
{#                                    <div>#}
{#                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone#}
{#                                            told me that people say this to all dogs, even if they aren't good...</div>#}
{#                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>#}
{#                                    </div>#}
{#                                </a>#}
{#                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>#}
{#                            </div>#}
{#                        </li>#}

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
{#                        <li class="nav-item dropdown no-arrow">#}
{#                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"#}
{#                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>#}
{#                                <img class="img-profile rounded-circle"#}
{#                                    src="img/undraw_profile.svg">#}
{#                            </a>#}
{#                            <!-- Dropdown - User Information -->#}
{#                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"#}
{#                                aria-labelledby="userDropdown">#}
{#                                <a class="dropdown-item" href="#">#}
{#                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>#}
{#                                    Profile#}
{#                                </a>#}
{#                                <a class="dropdown-item" href="#">#}
{#                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>#}
{#                                    Settings#}
{#                                </a>#}
{#                                <a class="dropdown-item" href="#">#}
{#                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>#}
{#                                    Activity Log#}
{#                                </a>#}
{#                                <div class="dropdown-divider"></div>#}
{#                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">#}
{#                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>#}
{#                                    Logout#}
{#                                </a>#}
{#                            </div>#}
{#                        </li>#}

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 id="card-title" class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div>
                        <div class="card-body">
                            {% block content %}

                            {% endblock %}
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Startmotors 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
    <!-- Custom scripts for all pages-->
</body>

</html>
<script>
    let product_categories = {{ product_categories|safe }}
    init(product_categories)

    {#let pathname = window.location.pathname#}
    {#let href = $(`a[href="${pathname}"]`)#}
    {#    href.addClass('active')#}
    {#    href.attr('aria-current', 'page')#}

    let text = {"litres_quantity": "ლიტრა", 'car_model_id': 'მანქანის მოდელი', 'sku': 'კოდი', 'variety': 'სახეობა',
    'class': 'კლასი'}

    for (const textKey in text) {
        let search = $( "thead tr th" ).filter( function () {
            return $( this ).text().toLowerCase().indexOf( textKey.toLowerCase() ) >= 0;
        }).first()

        search.text(text[textKey])
    }
</script>
